.form {
  width: 250px;
}

label.delay {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.delay input,
.form fieldset,
.form button {
  width: 100%;
  font-family: inherit;
}

.delay input {
  height: 35px;
  padding-left: 8px;
}

.form fieldset {
  text-align: start;
  height: 30;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.iziToast-body {
  min-width: 300px;
  font-family: Montserrat;
}
